#cloud-config
preserve_hostname: false
hostname: {{ _aws_ec2_i["hostname"] }}.{{ domain_name }}
fqdn: {{ _aws_ec2_i["hostname"] }}.{{ domain_name }}
{% if _aws_ec2_i["function"] != "nat" %}

runcmd:
- curl -L https://s3.amazonaws.com/{{ aws_profile }}-bootstrap/bootstrap | bash

mounts:
  - [ ephemeral0, null ]
  - [ ephemeral1, null ]
{%- endif -%}
